.bookItem{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    margin: 1rem 0;
    background-color: rgb(108, 106, 104);
}

.bookText{
    font-size: 1.5rem;
    color: white;
}

li{
    list-style-type: none;
    padding-right: 5px;
    margin: 30px;
    border: 2px solid;
}

li :hover{
    background-color: rgb(64, 13, 13);
    cursor: pointer;
}